header {
  display: flex;
  align-items: center;
  color: rgb(131, 56, 236);
}
header .title-area {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .title-area h1 {
  font-family: "fredokaOne";
  font-size: 31px;
  font-weight: 400;
}
header .action-buttons {
  margin-left: auto;
  display: flex;
  gap: 40px;
}
header .action-buttons a {
  font-size: 16px;
  font-weight: 400;
}
header .action-buttons .create-employee {
  border: 1px solid rgb(131, 56, 236);
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(33, 37, 41);
}
header .action-buttons .create-task {
  background-color: rgb(131, 56, 236);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.dropdown-group {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  align-items: center;
  margin-top: 52px;
  border: 1px solid rgb(222, 226, 230);
  max-width: 688px;
  height: 44px;
  border-radius: 10px;
}
.dropdown-group .dropdown {
  position: relative;
}
.dropdown-group .dropdown .dropdown-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* Optional: Change direction by changing rotation */
}
.dropdown-group .dropdown .dropdown-trigger .dropdown-label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.dropdown-group .dropdown .dropdown-trigger .dropdown-arrow {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: rotate(45deg);
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}
.dropdown-group .dropdown .dropdown-trigger .dropdown-arrow.up {
  transform: rotate(-135deg);
}
.dropdown-group .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 36px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(131, 56, 236);
  border-radius: 10px;
  padding: 10px;
  width: 688px;
}
.dropdown-group .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
}
.dropdown-group .dropdown .dropdown-menu .dropdown-item input[type=checkbox] {
  margin-right: 10px;
}
.dropdown-group .dropdown .dropdown-menu .select-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 10px;
}
.dropdown-group .dropdown.open .dropdown-menu {
  display: block;
}

.status-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  margin-top: 80px;
}
.status-navigation h3 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.status-navigation .status-pending {
  background-color: rgb(247, 188, 48);
}
.status-navigation .status-active {
  background-color: rgb(251, 86, 7);
}
.status-navigation .status-review {
  background-color: rgb(255, 0, 110);
}
.status-navigation .status-done {
  background-color: rgb(58, 134, 255);
}
.status-navigation .status-pending,
.status-navigation .status-active,
.status-navigation .status-review,
.status-navigation .status-done {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px 0;
  width: 100%;
  max-width: 381px;
}

form {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 914px;
  margin: 118px auto 0;
  padding: 20px;
  background-color: aqua;
  border-radius: 8px;
  position: relative;
}
form h2 {
  color: #212529;
  text-align: center;
}
form .first-info {
  margin-top: 45px;
  display: flex;
  gap: 10px;
  width: 100%;
}
form .first-info .name,
form .first-info .surname {
  display: flex;
  flex-direction: column;
  max-width: 384px;
  width: 100%;
  height: 42px;
}
form .first-info #first-name,
form .first-info #last-name {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form .avatar-title {
  margin-right: auto;
}
form .avatar-upload {
  background-color: aquamarine;
  max-width: 813px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: auto;
}
form .avatar-upload #avatar {
  padding: 16px 0;
}
form .avatar-preview {
  margin-top: 10px;
}
form .avatar-preview #avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
form .avatar-preview #remove-avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
form .dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
form .dropdown-container .department {
  width: 384px;
  height: 42px;
  margin-top: 45px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  background-color: #ffffff;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form .dropdown-container .department::-ms-expand {
  display: none;
}
form .dropdown-container .dropdown-arrow {
  position: absolute;
  right: 20px;
  top: 72%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  pointer-events: none;
}
form .dropdown-container .dropdown-arrow.up {
  transform: translateY(-50%) rotate(-135deg);
}
form .user-buttons {
  margin-top: 40px;
  margin-left: auto;
}
form .user-buttons .discard {
  padding: 9px 16px;
  border: 1px solid #8338ec;
  border-radius: 5px;
  color: #343a40;
  background: none;
  cursor: pointer;
}
form .user-buttons .add-user {
  background-color: #8338ec;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-container {
  background-color: rgb(221, 210, 255);
  display: flex;
  margin-top: 25px;
  padding-top: 65px;
  padding-bottom: 200px;
  gap: 160px;
}
.task-container label {
  color: rgb(52, 58, 64);
  padding-bottom: 6px;
}
.task-container p {
  color: rgb(108, 117, 125);
  font-size: 10px;
  font-weight: 350px;
  padding-top: 4px;
}
.task-container input,
.task-container select {
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(222, 226, 230);
}
.task-container textarea {
  height: 130px;
  border-radius: 5px;
  border: 1px solid rgb(222, 226, 230);
}
.task-container .task-form {
  display: flex;
  flex-direction: column;
}
.task-container .task-r-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 55px;
  margin-right: 55px;
}
.task-container .task-r-side .deadline {
  width: 50%;
}
.task-container .task-r-side .make-task {
  cursor: pointer;
  background: none;
  font-size: 18;
  background-color: rgb(131, 56, 236);
  padding: 10px 20px;
  border: none;
  width: 40%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-container .task-r-side .make-task:hover {
  background-color: rgba(131, 56, 236, 0.8);
}
.task-container .task-l-side {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
  margin-left: 55px;
}
.task-container .task-l-side .task-form-flex {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.task-container .task-l-side .task-form-flex .status,
.task-container .task-l-side .task-form-flex .priority {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.task-container input[type=date] {
  text-transform: uppercase;
  position: relative;
  padding-left: 30px; /* Adjust padding to make space for the calendar icon */
}
.task-container input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  margin-left: 5px; /* Adjust margin to position the calendar icon */
}

@font-face {
  font-family: "firagoSmall";
  src: url(../assets/font/firago_5.2.5/ttf/firago-latin-300-normal.ttf);
}
@font-face {
  font-family: "firagoRegular";
  src: url(../assets/font/firago_5.2.5/ttf/firago-latin-400-normal.ttf);
}
@font-face {
  font-family: "firagoBold";
  src: url(../assets/font/firago_5.2.5/ttf/firago-latin-700-normal.ttf);
}
@font-face {
  font-family: "fredokaOne";
  src: url(../assets/font/Fredoka/Fredoka-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1680px;
  padding: 31px 120px;
  font-family: "firagoRegular";
}

a {
  text-decoration: none;
}

.task-page {
  font-size: 34px;
  font-family: "firagoBold";
  color: rgb(33, 37, 41);
  margin-top: 40px;
}/*# sourceMappingURL=main.css.map */